:root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --gray: 217, 217, 217;
  
    --content-primary: 29, 41, 50;
    --content-secondary: 125, 136, 144;
    --content-secondary-disabled: 156, 164, 170;
    --content-tertiary: 184, 190, 194;
  
    --accent-blue: 29, 111, 169;
    
    //--primary-500: 29, 109, 168;
    --border: 209, 213, 216;
    --surface-overlay: 239, 240, 241;
    --hover: 236, 242, 246;
  }